.ProseMirror {
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    min-height: 200px;
    outline: none;
}

.ProseMirror p.is-editor-empty:first-child::before {
    content: attr(data-placeholder);
    float: left;
    color: #adb5bd;
    pointer-events: none;
    height: 0;
}
